# Cloudflared Tunnel Settings
TUNNEL_TOKEN=your-tunnel-token  # Cloudflaredのトークン（適切な値を設定）
TUNNEL_TRANSPORT_PROTOCOL=http2 # Cloudflaredの通信プロトコル（例: "http2"）

# Wings Settings
SFTP_PORT=2022                  # SFTP用ポート（config.ymlのsystem.sftp.bind_portと同じ値にすること）
VOLUME_PATH=/volumes            # ゲームサーバーデータの保存先（config.ymlのsystem.dataと同じ値にすること）
