# Docker
docker-compose.override.yaml
docker-compose.override.yml
.env

# VSCode
.vscode/
*.code-workspace

# System files
.DS_Store
Thumbs.db

# node_modules
node_modules/

# Logs / temp
*.log
*.tmp
tmp/
temp/
logs/

# SSL certs (create-pem.sh)
certs/

# Wings runtime data
pterodactyl/
